body > :not(.csv-table) {
  display: none;
}

table {
  border: 5px solid #0039fe;
  font-family: "Arial", sans-serif;
}

tr {
  transition: background 0.3s;
}

tr:nth-child(odd) {
  background: #eee;
}

tr:hover {
  background-color: #ffcf0055;
}

td,
th {
  padding: 2px;
  border: none;
  margin: 0;
}
